</div>




</div>
<div id="sidebar">
<center>
    <a href="http://smochota.no-ip.biz:3357/apex/f?p=110:1" target="new" border="0"><img src="images/bok1.jpg"></a><br /><br />
    <a href="uniqa.html" border="0"><img src="images/uniqua.gif"></a><br /><br />
	<a href="wfosigw.html" border="0"><img src="images/WFOSiGW_logo.jpg"></a></br/><br/>
	<a href="lokale.html"><img src="images/lokale.jpg" border="0"></a><br/><br/>
	<a href="klubStokrotka.html"><img src="images/stokrotka.jpg" border="0"></a><br /><br />
    <a href="klubJedynka.html"><img src="images/jedynka.jpg" border="0"></a><br />
	
    </center>

</div>
    
    </div>
    
<div class="clear"></div>

<div id="footer">
<table width="976"><tr><td>
Copyright &#169; by WSM OCHOTA : Warszawska Spółdzielnia Mieszkaniowa "Ochota" <?= date('Y') ?>r.</td><td align="right"><img src="images/logo_m.png" width="18" height="18" alt="StudioAkcja"></td></tr></table>
</div>
<br />

</div>
</body>
</html>
