<div class="news">
    <center>
  <h2><?= $viewData['title'] ?></h2>
  <br>
  <?php if($viewData['type'] == '2'){ ?>
<center><a href="/dokumenty-login.html?logout=1">Wyloguj</a></center>
<?php } ?>
  <br>
  <?php $lastCategory = '' ?>
  <table width="620" border="0" cellspacing="0">
      <tbody>
    <?php 
    $i = 0;
    foreach($viewData['list'] as $doc){ 
        $titleStyle = '';
        switch($doc->getImportance()){
            case '2':
                $titleStyle='font-weight: bold; color: red;';
            break;
            case '1': 
                $titleStyle='font-weight: bold';
            break;
        }

        $i++;
        $style = $i%2 > 0 ? 'bgcolor="#c5ddf5"' : '';
        
        if($lastCategory != $doc->getCategory()){ 
           $lastCategory = $doc->getCategory();
           $style = 'bgcolor="#c5ddf5"';
           $i = 1;
    ?>
    <tr>
        <td style="padding: 10px;"><strong><?=$doc->getCategory() ?></strong>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
<?php } ?>
    <tr>
        <td <?=$style ?>>
            <?php if($doc->hasFilename()){ ?>
            <a href="http://dokumenty.wsmochota.com.pl/<?=$doc->getFilename() ?>" target="_blank" onmouseover="document.pdf<?=$i ?>.src='images/pdf.png'" onmouseout="document.pdf<?=$i ?>.src='images/pdf_grey.png'">
            <?php } ?>
                <p align="left" style="<?=$titleStyle ?>"><?= $doc->getTitle() ?></p>
            <?php if($doc->hasFilename()){ ?>
            </a>
            <?php } ?>
        </td>
        <td align="right" <?=$style ?>><a href="http://dokumenty.wsmochota.com.pl/<?=$doc->getFilename() ?>" target="_blank" onmouseover="document.pdf<?=$i ?>.src='images/pdf.png'" onmouseout="document.pdf<?=$i ?>.src='images/pdf_grey.png'">
                <img src="images/pdf_grey.png" name="pdf<?= $i ?>" border="0">
    </tr>
    <?php } ?>
      </tbody>
  </table>
</div>
