<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Spółdzielnia Mieszkaniowa WSM Ochota</title>
    <link href="/admin/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/admin/static/css/global.css" rel="stylesheet" type="text/css">
    <script src="/admin/static/js/tinymce/tinymce.min.js"></script>
    <script src="/admin/static/js/global.js"></script>
    
    
</head>
    <body>
        
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/admin">WSM Ochota</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <?php $menu = $viewData['menu'] ?>
            <li <?php if($menu == 'news'){ ?>class="active"<?php } ?>><a href="/admin/news">Aktualności</a></li>
            <li <?php if($menu == 'pages'){ ?>class="active"<?php } ?>><a href="/admin/pages">Strony statyczne</a></li>
            <li <?php if($menu == 'documents'){ ?>class="active"<?php } ?>><a href="/admin/documents">Dokumenty</a></li>
            <li <?php if($menu == 'video'){ ?>class="active"<?php } ?>><a href="/admin/video">Wideo</a></li>
            <li <?php if($menu == 'auctions'){ ?>class="active"<?php } ?>><a href="/admin/auctions">Przetargi</a></li>
            <li><a href="/admin/login/logout">Wyloguj się</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
        <div class="starter-template">
            <h1><?= $viewData['templateTitle']; ?></h1>
            <?php include($template) ?>
        </div>
    </div>
    </body>
</html>
