<div class="spacer">&nbsp;</div>
<a href="/admin/documents?type=1" class="btn btn-primary">Dokumenty do pobrania</a>
<a href="/admin/documents?type=2" class="btn btn-primary">Materiały dla członków spółdzielni</a>
<div class="spacer">&nbsp;</div>
<table class="table table-striped">
    <tr>
        <th>Kolejność</th>
        <th>Tytuł</th>
        <th colspan="2">Opcje</th>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
        <td colspan="2"><a href="/admin/documents/add?type=<?=$viewData['type'] ?>" class="btn btn-success">Nowy</a></td>
    </tr>
<?php 
$lastCategory = '';
foreach($viewData['list'] as $doc){
 if($lastCategory != $doc->getCategory()){ 
    $lastCategory = $doc->getCategory();
    ?>
    <tr>
        <td>&nbsp;</td>
        <td colspan="3"><strong><?= $doc->getCategory() ?></strong></td>
    </tr>
    <?php } ?>
    <tr id="id-<?= $doc->getId() ?>">
        <td style="width: 110px;">
            <a href="/admin/documents/move?id=<?= $doc->getId() ?>&order=up&type=<?=$viewData['type'] ?>" class="btn btn-primary glyphicon glyphicon-chevron-up"></a>
            <a href="/admin/documents/move?id=<?= $doc->getId() ?>&order=down&type=<?=$viewData['type'] ?>" class="btn btn-primary glyphicon glyphicon-chevron-down"></a>
        </td>
        <td style="padding-left: 20px;"><?= $doc->getTitle() ?></td>
        <td>
            <a href="/admin/documents/edit?id=<?= $doc->getId() ?>&type=<?=$viewData['type'] ?>" class="btn btn-primary">Edytuj</a>
        </td>
        <td>
            <a href="/admin/documents/delete?id=<?= $doc->getId() ?>&type=<?=$viewData['type'] ?>" rel="Czy na pewno chcesz usunąć: <?= $doc->getTitleEncoded() ?>?" class="btn btn-danger js-confirm">Usuń</a>
        </td>
    </tr>
<?php } ?>
</table>